{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es2022": true
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unused-imports", "simple-import-sort", "prettier", "unicorn"],
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "curly": "warn",
    "no-unused-vars": "off",
    "prettier/prettier": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off",
    "react/no-unknown-property": "off",
    "react/jsx-no-useless-fragment": 2,
    "unused-imports/no-unused-imports": "off",
    "@next/next/no-html-link-for-pages": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/ban-ts-comment": "off", // turn warn
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/consistent-type-imports": "off",
    "@next/next/no-img-element": "off",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "error",
    "jsx-a11y/role-supports-aria-props": "off",
    "no-use-before-define" : "off",
    "no-unexpected-multiline": "error",
    "react/self-closing-comp": "warn",
    "unicorn/better-regex": "warn",
    "unicorn/catch-error-name": "error",
    "unicorn/no-array-for-each": "warn",
    "unicorn/no-for-loop": "warn",
    "unicorn/no-lonely-if": "warn",
    "unicorn/no-useless-undefined": "error",
    "unicorn/prefer-array-find": "error"
  },
  "ignorePatterns": ["/src/generated/types.ts", "/src/generated/documents.ts"]
}